{% extends "base.html" %}
{% load static %}

 {% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shopping cart</h1>
                <p class="lead fw-normal text-white-50 mb-0">View Your Cart...</p>
            </div>
        </div>
    </header>
    <br />
    <div class="container">
        {% if cart_products %}
            {% for product in cart_products  %}
                <div class="card mb-3">
                    <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                {% if product.is_sale %}
                                    <p class="card-text">
                                        <strike>
                                            ${{ product.price }}
                                        </strike> 
                                        <br/>
                                        ${{ product.sale_price }}
                                    </p>
                                {% else %}
                                    <p class="card-text">
                                        ${{ product.price }}
                                    </p>
                                {% endif %}
                                <a href="{% url 'home' %}" class="btn btn-secondary">
                                    home
                                </a>
                            </center>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>Your cart is empty</h2>
        {% endif %}
    </div>
   
 {% endblock %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 's/scripts.js' %} "></script>
    </body>
</html>
