{% extends "base.html" %}
 
{% block content %}
     <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">
                    lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Our Story</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec a diam lectus. Set sit amet ipsum mauris. Maecenas 
                    congue ligula ac quam
                </p>
                <p>
                    Donec mattis, purus nec placerat bibendum, dui pede condimentum 
                    odio, ac blandit ante orci ut diam. Cras fringilla magna.
                </p>
                <p>
                    Donec mattis, purus nec placerat bibendum, dui pede condimentum 
                    odio, ac blandit ante orci ut diam. Cras fringilla magna.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Our Vision</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Donec a diam lectus. Set sit amet ipsum mauris. Maecenas 
                    congue ligula ac quam
                </p>
                <p>
                    Donec mattis, purus nec placerat bibendum, dui pede condimentum 
                    odio, ac blandit ante orci ut diam. Cras fringilla magna.
                </p>
                <p>
                    Donec mattis, purus nec placerat bibendum, dui pede condimentum 
                    odio, ac blandit ante orci ut diam. Cras fringilla magna.
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}
